@charset "utf-8";
/*==================================================
	パソコンのみ適応
==================================================*/
@media print, screen and (min-width:821px){
	.dsp_tbs, .dsp_smt { display: none; }
	.cen_pc { text-align: center; }

	.fl { float: left; }	/* 左寄せ（float） */
	.fr { float: right; }	/* 右寄せ（float） */

	/*--------------------------------------------------
		トップページ
	--------------------------------------------------*/
	
}